

.header {
	background: #FCFCFD;
	padding: 4px 10px;
	border-bottom: 1px solid #8888;
	// position: relative;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999999;
}

.nav {
	display: flex;
	justify-content: space-between;

	font-size: 16px;
	font-family: 'DM Sans';
	font-weight: 500;
	color: #777E91;

	ul{
		a {
			color: inherit;
		}

		a:hover{
			color: #23262F;
		}

		li {
			margin: 0 12px;
		}

		.dropdown {
			margin: 0 12px;
			
			a {
				font-size: 16px;
				display: block;
				padding: 0px;
			}

			a::after {
				display: none;
			}

			div {
				border-radius: 5px;
				padding: 8px;
			}
		}
	}

	.rightNav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.select > div {
			&:nth-child(3) {
				border-radius: 100px;
				margin-right: 10px;
			}
		}

		a{
			padding: 6px 25px;
			margin: 0 5px;
		}
	}
}
