	/*DM SANS FONT	*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*	POPPINS	*/	
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
	scroll-behavior: smooth;
}

html{
	font-size: 62.5%;
}
body{
	background: #FAFBFF;
}

a,a:hover{
	text-decoration: none;
}

input,select,textarea{
	outline: none !important;
}



.wrapper{
	overflow: hidden;
}

.section-title h2{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 48px;
	margin: 20px 0;
	letter-spacing: -0.02em;
	color: #23262F;
}

.btn-fill{
	color: #fff;
	background: #0074FE;
	border: 1px solid #0074FE;
	border-radius: 40px;
}
.btn-fill:hover{
	color: #0074FE;
	background: transparent;
}
.btn-fill-green{
	color: #fff;
	background: #159B45;
	border: 1px solid #159B45;
	border-radius: 40px;
}
.btn-fill-green:hover{
	color: #159B45;
	background: transparent;
	border: 1px solid #159B45; 
}
.btn-unfill{
	color: #23262F;
	background: transparent;
	border: 1px solid #777E91;
	border-radius: 40px;
}
.btn-unfill:hover{
	color: #fff;
	background: #0074FE;
	border: 1px solid #0074FE; 
}
/*
==========================================
	NAVBAR SECTION START
==========================================
*/
.usd-Navbar{
	background: #FCFCFD;
	padding: 4px 10px;
	border-bottom: 1px solid #8888;
	position: relative;
	margin-bottom: 130px;
}

.usd-Navbar.fixed-top{
	position: fixed;
	width: 100%;
}

.usd-Navbar .navbar-brand{
	font-size: 18px;
	font-weight: 600;
	
	text-transform: uppercase;
}
.usd-Navbar .mynav > ul li {
	margin: 0 12px;
}
.usd-Navbar .mynav > ul li a{
	font-size: 16px;
	font-family: 'DM Sans';
	font-weight: 500;
	color: #777E91;

}
.usd-Navbar .mynav > ul li a.active,
.usd-Navbar .mynav > ul li a:hover{
	color: #23262F;
}

.usd-Navbar .mynav .mynav-right{
	display: flex;
	align-items: center;
}
.usd-Navbar .mynav .mynav-right select{
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: 500;
	color: #23262F;
	margin-right: 10px;

}

.usd-Navbar .mynav .mynav-right .mynav-btns a{
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
	font-weight: 500;
	padding: 7px 30px;
}

/*
==========================================
	NAVBAR SECTION END
==========================================
*/

/*
==========================================
	HEADER SECTION START
==========================================
*/
.header-section{
	margin-bottom: 50px;
	padding: 50px 0;
	padding-left: 12%;
	position: relative;
}
.header-section img.nav-icon{
	position: absolute;
	left: 0;
	top: -90px;
	width: 110px;
}
.header-section .header-content h1{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 60px;
	line-height: 64px;
	letter-spacing: -0.02em;
	color: #23262F;
	margin: 10px 0;
}
.header-section .header-content p{
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 30px;
	line-height: 1.4;
	color: #777E91;
	margin: 20px 0;
}
.header-section .header-content .header-btn{
	margin: 30px 0;
}
.header-section .header-content .header-btn a{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	/*color: #FCFCFD;*/
	padding: 12px 32px;
	display: inline-block;
}

.header-section .header-content .header-down-btn a{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #777E91;
	border: 1px solid #777E91;
}
/*
==========================================
	HEADER SECTION END
==========================================
*/


/*
==========================================
	MULTI CHAIN START
==========================================
*/
.multi-chain{
	margin: 100px 0;
}

.multi-chain .chain-card{
	width: 100%;
	padding: 25px 25px;
	
	box-shadow: 0px -5px 60px -35.8571px rgba(76, 87, 109, 0.5);
	border-radius: 10px;
}
.multi-chain .chain-card:hover{
	transform: scale(1.04);
}
.multi-chain .chain-card > img{
	width: 45px;
}
.multi-chain .chain-card p{
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 14px;
	color: #777E91;
	margin: 10px 0;
	display: flex;
	align-items: center;

}
.multi-chain .chain-card.chain-cd2 p{
	display: block;
}
.multi-chain .chain-card p span{
	display: inline-block;
	margin-left: 5px;
	color: #fff;
	background: #159B45;
	border-radius: 40px;
	padding: 4px 6px;
}
.multi-chain .chain-card a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #159B45;
	font-size: 12px;
	display: inline-block;

}

.multi-chain .chain-card.chain-cd2{
	text-align: center;
	background: #E3FEFC;
}

.multi-chain .chain-card.chain-cd2 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;

	background: #159B45;
}

.multi-chain .chain-card.chain-cd3{
	text-align: center;
	background: #F9E9FF;
}

.multi-chain .chain-card.chain-cd3 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;
	background: #159B45;
}
.multi-chain .chain-card.chain-cd3 p{
	display: block;
}

/* End 3rd */

.multi-chain .chain-card.chain-cd4{
	text-align: center;
	background: #D0E0FF;
}

.multi-chain .chain-card.chain-cd4 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;

	background: #159B45;
}
.multi-chain .chain-card.chain-cd4 p{
	display: block;
}
/* 4TH END */

.multi-chain .chain-card.chain-cd5{
	text-align: center;
	background: #FFF2C6;
}

.multi-chain .chain-card.chain-cd5 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;
	background: #159B45;
}
.multi-chain .chain-card.chain-cd5 p{
	display: block;
}
/* 5TH END */

.multi-chain .chain-card.chain-cd6{
	text-align: center;
	background: #FFD7D7;
}

.multi-chain .chain-card.chain-cd6 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;
	background: #159B45;
}
.multi-chain .chain-card.chain-cd6 p{
	display: block;
}

/* 6TH END  */


.multi-chain .chain-card.chain-cd7{
	text-align: center;
	background: #DBDDE7;
}

.multi-chain .chain-card.chain-cd7 a{
	padding: 2px 6px;
	color: #fff;
	border-radius: 20px;
	font-size: 12px;

	background: #159B45;
}
.multi-chain .chain-card.chain-cd7 p{
	display: block;
}


/*
==========================================
	MULTI CHAIN END
==========================================
*/


/*
==========================================
	CONTRACT SECTION START
==========================================
*/
.contract-section{
	margin: 50px 0;
}
.contract-section .smart-contract{
	padding: 50px 0;
	border-bottom: 1px solid #8888;
}
.contract-section .smart-contract:last-child{
	border-bottom: none;
}
.contract-section .smart-contract h4{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	color: #484E60;
	margin-bottom: 30px;
}

.contract-section .smart-contract .contract-partner-wrap{
	margin: 00px 0;
	text-align: center;
}

.contract-section .smart-contract .contract-partner-wrap .contract-partner{
	width: 185px;
	margin: 15px 0;
}
.contract-section .smart-contract .contract-partner-wrap .contract-partner img{
	width: 150px;
}

.contract-section .smart-contract .contract-partner-wrap .contract-partner img.wp-60{
	width: 60px ;
}

.contract-section .smart-contract .contract-partner-wrap .contract-partner img.wp-90{
	width: 90px ;
}

/*
==========================================
	CONTRACT SECTION END
==========================================
*/


/*
==========================================
	ABOUT SECTION START 
==========================================
*/
.about-section{
	background: url("../img/aboutbg.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
	margin: 100px 0;
}
.about-container{
	width: 90%;
	margin: auto;
}
.about-section .section-title .section-title-btn a{
	padding: 10px 40px;
	border: 1px solid #0074FE;
	/*color: #23262F;*/
	font-size: 16px;
	font-weight: 500;
}
.about-section .section-title .section-title-btnn a{
	padding: 10px 40px;
	border: 1px solid #159B45;
	/*color: #23262F;*/
	font-size: 16px;
	font-weight: 500;
}
.about-section .about-tabs{
	margin: 20px 0;
	margin-bottom: 50px;
}
.about-section .about-tabs ul li{
	margin: 8px 5px;
}
.about-section .about-tabs ul li a{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #777E91;
	padding: 5px 15px;
	border-radius: 40px;
	display: inline-block;
}
.about-section .about-tabs ul li a.active{
	color: #fff;
	background: #353945;
}
.about-content .about-h-text{
	padding: 25px 0;
}
.about-content .about-h-text .about-h-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-content .about-h-text .about-h-heading h3{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #23262F;
}
.about-content .about-h-text .about-h-heading{
	margin-bottom: 20px;
}
.about-content .about-h-text .about-h-heading a{
	padding: 8px 30px;
	border: 1px solid #0074FE;
	font-size: 16px;
	font-weight: 500;
}

.about-content .about-h-text .about-h-heading a i{
	margin-left: 10px;
	transition: 0.2s ease-out;
}
.about-content .about-h-text  p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #777E91;
}

.about-content .about-text h4{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 27px;
	color: #23262F;
}
.about-content .about-text p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #777E91;
}

/*	TEAM	*/
.team-slider .owl-stage-outer{
	
	margin-top: 30px;
	padding-top: 100px;
	padding-bottom: 30px;
	position: relative;
}
.team-slider .owl-nav button{
	background: transparent !important;
}
.team-slider .owl-nav .nav-button{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #777E91;
	font-size: 26px;
	position: absolute;
	top: 100%;
	transform: translateY(-100%);
	box-shadow: 9.12002px 5.327px 20.143px rgba(49, 89, 211, 0.12);

}
.team-slider .owl-nav .nav-button.owl-prev{
	left: 10px;
}
.team-slider .owl-nav .nav-button.owl-next{
	right: 10px;
}

.team-slider .owl-dots .owl-dot span{
	width: 20px !important;
	height: 6px !important;
	border-radius: 20px !important;
	background: #092853 ;
	margin: 0 5px;
}
.team-slider .owl-dots .owl-dot.active span{
	background: #3772FF ;
}
.team-card{
	max-width: 270px;
	margin: 15px auto;
	padding: 0 15px;
	position: relative;
	background: rgba(255, 255, 255, 0.88);
	border: 0.65143px solid #FFFFFF;
	box-shadow: 9.12002px 5.327px 20.143px rgba(49, 89, 211, 0.12);
	border-radius: 19.3856px;
}
.team-card .team-img{
	display: flex;
	justify-content: center;




}
.team-card-team .team img,
.team-card .team-img img{
	margin: 0 auto;
	border-radius: 20px;
	border-top-right-radius: 40px;
	transform: translateY(-100px);
}
.team-card-team .team .team-content,
.team-card .team-content{
	transform: translateY(-60px);
}
.team-card-team .team .team-content .team-card-heading,
.team-card .team-content .team-card-heading{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.team-card-team .team .team-content .team-card-heading h2,
.team-card .team-content .team-card-heading h2{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 18px;
	line-height: 17px;
	color: #23262F;
}
.team-card-team .team .team-content .team-card-heading .team-socail,
.team-card .team-content .team-card-heading .team-socail{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.team-card-team .team .team-content .team-card-heading .team-socail a,
.team-card .team-content .team-card-heading .team-socail a{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: #D7ECFF;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.team-card-team .team .team-content .team-text,
.team-card .team-content .team-text{
	transform: translateY(20px);

}
.team-card-team .team .team-content .team-text h6,
.team-card .team-content .team-text h6{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	color: #6373A4;
}
.team-card-team .team .team-content .team-text p,
.team-card .team-content .team-text p{
	transform: translateY(15px);
	font-family: 'DM Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #888D9D;

}

.team-btn a{
	padding: 10px 40px;
	border-radius: 50px;
	display: inline-block;
	margin: 20px 0;
	margin-top: 40px;
	font-size: 14px;
	font-family: 'DM Sans';
	font-weight: 500;
}

/*	TEAM end	*/

/*	TAKENOMICS	*/

.takenomics-section .take-detail-wrap .take-detail{
	display: flex;
	align-items: center;
	margin: 15px 0px;
	margin-right: 10px;
}



.funds .take-detail{
	width: 30%;
}
.takenomics-section .take-detail-wrap .take-detail > img{
	width: 20px;
	height: 20px;
}
.takenomics-section .take-detail-wrap .take-detail h6{
	font-size: 13px;
	font-weight: 500;
	color: #888D9D;
	text-transform: capitalize;
	margin: 0 3px;
	margin-right: 4px;

}
.takenomics-section  .takenomics-img{
	margin: 30px 0;
}
.takenomics-section .takenomics-text{
	margin: 20px 0;
}
.takenomics-section .takenomics-text h4{
	font-size: 24px;
	color: #092853;
	margin: 10px 0;
	font-weight: 600;
}
.takenomics-section .takenomics-text p{
	font-size: 15px;
	font-weight: 400;
	color: #888D9D;
}
/*	TAKENOMICS END	*/
/*
==========================================
	ABOUT SECTION END 
==========================================
*/

/*
==========================================
	WALLET SECTION START
==========================================
*/
.wallet-section{
	margin: 40px 0;
	margin-bottom: 250px;
}
.wallet-section .wallet-content{
	border-radius: 15px;
	padding: 40px 20px;
	background: #fff;
	position: relative;

}
.wallet-section .wallet-content img.phoneimg{
	position: absolute;
	right: 80px;
	top: 40px;
	width: 230px;
}
.wallet-section .wallet-content .wallet-text{
	width: 60%;
}

.wallet-section .wallet-content .wallet-text h3{
	font-size: 32px;
	font-weight: 500;
	color: #353945;
	margin: 10px 0;
}
.wallet-section .wallet-content .wallet-text p{
	font-size: 16px;
	font-weight: 400;
	color: #777E91;
	margin: 20px 0
}
.wallet-section .wallet-content .wallet-text a{
	font-size: 14px;
	padding: 8px 25px;
	display: inline-block;
	font-weight: 500;
}
/*
==========================================
	WALLET SECTION END
==========================================
*/


/*
==========================================
	FAQ SECTION START
==========================================
*/
.faq-section{
	margin: 40px 0;
	/* background-image: url(../img/FAQ.png);
	background-repeat: no-repeat; */
}
.faq-section .container .section-title{
	/* margin: 40px 0; */
	background-image: url(../img/FAQ.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* margin-left: 40%;
	padding-top:-20%; */
}


.faq-section .card{
	border: none;
	background: transparent;
	margin: 5px 0;
}
.faq-section .card .card-header{
	background: #fff;
	border-radius: 10px;
	border-bottom: none;
	box-shadow: 0px 21.492px 47.7601px rgba(74, 83, 188, 0.03);
	backdrop-filter: blur(10.6914px);
}
.faq-section .card .card-header button{
	box-shadow: none;
}
.faq-section .card .card-header button i{
	font-size: 22px;
	font-weight: 900;
	font-size: 30px;
	line-height: 46px;
	color: #FF7D68;
	transform: rotate(90deg);
}
.faq-section .card .card-header button.collapsed i{
	transform: rotate(0deg);
	
}
.faq-section .card .card-header h5 button{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 162%;
	color: #282337;
}
.faq-section .card .faq-ans{
	width: 90%;
	margin: auto;
	padding: 15px 0;
	background: rgba(255,255,255,0.8) !important;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	transform: translateY(-10px);
	position: relative;
	overflow: all;
	z-index: -1;
}

.faq-section .card .faq-ans .card-body{
	padding: 40px 20px;
	padding-bottom: 20px;
}
.faq-section .card .faq-ans .card-body p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: rgba(96, 98, 121, 0.82);
}


/*
==========================================
	FAQ SECTION END
==========================================
*/


/*
==========================================
	Audited SECTION START
==========================================
*/
.audited-section{
	margin: 40px 0;
	/* background-image: url(../img/FAQ.png);
	background-repeat: no-repeat; */
}
.audited-section .container .section-title{
	/* margin: 40px 0; */
	background-image: url(../img/Audited\ Reports.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* margin-left: 40%;
	padding-top:-20%; */
}


.audited-section .card{
	border: none;
	background: transparent;
	margin: 5px 0;
}
.audited-section .card .card-header{
	background: #fff;
	border-radius: 10px;
	border-bottom: none;
	box-shadow: 0px 21.492px 47.7601px rgba(74, 83, 188, 0.03);
	backdrop-filter: blur(10.6914px);
}
.audited-section .card .card-header button{
	box-shadow: none;
}
.audited-section .card .card-header button i{
	font-size: 22px;
	font-weight: 900;
	font-size: 30px;
	line-height: 46px;
	color: #FF7D68;
	transform: rotate(90deg);
}
.audited-section .card .card-header button.collapsed i{
	transform: rotate(0deg);
	
}
.audited-section .card .card-header h5 button{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 162%;
	color: #282337;
}
.audited-section .card .audited-ans{
	width: 90%;
	margin: auto;
	padding: 15px 0;
	background: rgba(255,255,255,0.8) !important;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	transform: translateY(-10px);
	position: relative;
	overflow: all;
	z-index: -1;
}

.audited-section .card .audited-ans .card-body{
	padding: 40px 20px;
	padding-bottom: 20px;
}
.audited-section .card .audited-ans .card-body p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: rgba(96, 98, 121, 0.82);
}


/*
==========================================
	Audited SECTION END
==========================================
*/


/*
==========================================
	GET IN TOUCH SECTION START
==========================================
*/
.get-in-touch{
	padding: 50px 0;
	position: relative;
	margin: 100px 0;
	position: relative;
	background: url("../img/Path 6365.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

}
.get-in-touch img.wave{
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 250px;
	z-index: -10;
}
.get-in-touch .get-in-container{
	position: relative;
}
.get-in-touch .get-in-container img.get-coin{
	width: 180px;
	position: absolute;
	left: -40px;
	top: -30px;
}
.get-in-touch .get-touch-wrap{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px 50px;
}
.get-in-touch .get-touch-wrap .get-in-text{
	padding-right: 40px;
}
.get-in-touch .get-touch-wrap .get-in-text h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 125%;
	color: #FFFFFF;
}

.get-in-touch .get-touch-wrap .get-in-text p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 145.5%;
	color: #FFFFFF;
}

/*
==========================================
	GET IN TOUCH SECTION END
==========================================
*/


/*
==========================================
	FOOTER SECTION START
==========================================
*/
.footer p{
	font-size: 18px;
	font-weight: 500;
	color: #23262F;
}
.footer .ft-contact{
	margin: 30px 0;
}
.footer .ft-contact a{
	font-size: 16px;
	color: #23262F;
	font-weight: 500;
	margin: 0px;
	position: relative;
	
}
.footer .ft-contact a img{
	width: 20px;
	margin-right: 0px;
	position: absolute;
	left: -23px;
	top: 2px;

}


.facebook:hover{
    color:blue;
    
}



/*
==========================================
	FOOTER SECTION END
==========================================
