.wallet {
    cursor: pointer;
    
    img {
        width: 100%;
        margin-left: 5px;
        max-width: 150px;
    }

    p {
        font-family: 'Poppins';
        color: #1C2339;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}